.m-plus-1p-regular {
  font-family: "M PLUS 1p", serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-1p-medium {
  font-family: "M PLUS 1p", serif;
  font-weight: 500;
  font-style: normal;
}

.m-plus-1p-bold {
  font-family: "M PLUS 1p", serif;
  font-weight: 700;
  font-style: normal;
}

body {
    font-family: Arial, sans-serif; /* ボディ全体のフォントをArialに設定し、フォールバックとしてsans-serifを指定 */
    line-height: 1.6; /* 行間を1.6に設定して読みやすくする */
}

header {
    background: #333; /* ヘッダーの背景色をダークグレーに設定 */
    color: #fff; /* ヘッダー内の文字色を白に設定 */
}

.menu {
    list-style: none; /* リストのデフォルトスタイルを無効にする */
    padding: 0; /* リストの内側の余白を0に設定 */
    margin: 0; /* リストの外側の余白を0に設定 */
    display: flex; /* フレックスボックスを使用してリストアイテムを横並びに配置 */
    justify-content: center; /* リストアイテムを中央に配置 */
}

.menu li {
    margin: 0 15px; /* リストの各アイテムに左右15pxのマージンを追加 */
}

.menu a {
    color: white; /* リンクの文字色を白に設定 */
    text-decoration: none; /* リンクの下線を無効にする */
    padding: 10px; /* リンクの内側に10pxのパディングを追加 */
    transition: background 0.3s; /* 背景色の変化に0.3秒のトランジションを追加 */
}

.menu a:hover {
    background: #555; /* ホバー時に背景色をダークグレーに変化 */
    border-radius: 4px; /* ホバー時にリンクの角を4pxの半径で丸める */
}

section {
    padding: 20px; /* 各セクションの内側に20pxのパディングを設定 */
}

h1 {
    margin: 20px 0; /* h1見出しの上下のマージンを20pxに設定 */
}

.container {
    max-width: 1200px; /* コンテナの最大幅を1200pxに設定 */
    margin: 0 auto; /* 左右のマージンを自動で調整し、中央に配置 */
    padding: 0 20px; /* 左右に20pxのパディングを追加 */
}

.img-container img {
    width: 80%; /* 画像の幅を親要素の80%に設定 */
    object-fit: cover; /* アスペクト比を維持しつつ、指定サイズに収める */
    border-radius: 10px; /* 画像の角を10pxの半径で丸める */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 画像に影を追加して立体感を出す */
}

.profile-image {
    width: 500px; /* 幅を500pxに指定 */
    height: auto; /* 高さは自動で設定してアスペクト比を維持 */
    object-fit: cover; /* 画像のアスペクト比を維持しつつ、領域に収める */
    text-align: center; /* 画像を中央に配置 */